@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
html {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #27374D;
    color:#9DB2BF;
}


/* HEADER SECTION */
header {
    /* overflow: hidden; */
    position:fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #27374D;
   
}


.nav-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin: 1em;
}

.nav-list li,
.nav-list a{
    color: #9DB2BF;
    text-decoration: none;
    list-style-type: none;
}
.nav-list li::after {
    content: '';
    display: block;
    width: .5em;
    border-bottom: 1px solid #9DB2BF;
    height: 1px;
    transition: width .25s cubic-bezier(0.25, 1, 0.5, 1);
}
.nav-list li:hover::after{
    width : 100%;
}




/* MAIN CONTENTS */
/* HOME */
main {
    margin: 0 auto ;
    padding: 0;
}

article {
    padding-top : 2.5rem;
}

.container {
    margin: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {

    margin: 1rem;
}

.contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-list li {
    margin: 1rem;
    list-style-type: none;
}

.contact-list a {
    text-decoration: none;
    color:inherit;
}

/* Photo Profile */
.circle {
    border-radius: 50%;
    width: 20vmax;
    height: 20vmax;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../pictures/seulgii.webp");
}

/* HOME ENDS */


/* FOOTER */
footer {
    text-align: center;
    margin: 5rem 25rem 0rem;
}
.footer-text::before{
    content: '';
    border: 1px solid #DDE6ED;
    display: block;
    width: 100%;
}

.footer-text a {
    color: #9DB2BF;
    text-decoration: none;
}


@media screen and (max-width : 1300px){
    .container {
        flex-direction: column-reverse;
        /* height: 100vh; */
    }
    .circle {
        width: 22vmax;
        height: 22vmax;
    }

    .contact-list {
        /* ISI DISINI */
    }

    footer {
        margin: 0 auto;
    }
}

@media screen and (max-width : 300px) {
    
}