@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
html {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    background-color: #27374D;
    color:#9DB2BF;
}
